body {
  background:#F3F4F5;
}

.card {
  color: #5C5C5C;
  box-sizing: content-box;
  background-color: #F3F4F5;
  padding: 10px 10px 16px;
  margin: 10px;
}

.cardList {
  background-color: #E4EBEF;
  margin: 35px;
  padding: 10px;
}

.addButton {
  color: #F3F4F5;
  background-color: #5EA5EE;
}

.pizzaIcon {
  color: #F3F4F5;
}

.MuiAppBar-colorPrimary {
  color: #F3F4F5;
  background-color: #343951;
  align-items: center;
}

.toolbar {
  margin-right: 40%;
}

.result {
  display: block;
  margin: 16px 0;
  color: #343951; 
  border-radius: 3px;
  padding: 10px;
  min-height: 50px;
  font-weight: 500;
  font-size: 13px;
 }

.modal {
  padding: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}